/* Merchant inner page - tablet */
@include tablet {
  article.page-merchant-inner-content {
    .detail-register {
      .detail-register-desc:first-child {
        padding-right: 15px;
      }
      .detail-register-desc:last-child {
        padding-left: 15px;
      }
    }
  }
}

/* Merchant inner page - mobile */
@include mobile {
  .page-merchant-inner-header {
    .header-big-cover {
      height: 185px;

      &::before {
        width: 270px;
        height: 175px;
        bottom: -87.5px;
      }

      img {
        width: auto;
        max-width: 210px;
        max-height: 150px;
        bottom: -75px;
      }
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 14px;
    }
  }

  article.page-merchant-inner-content {
    h3, h4 {
      font-size: 20px;
    }

    section.section-after-header {
      h3 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

}