/* Flexi Page - @korstudio */
.btn.button-flexi-start {
  display: inline-block;
  padding: 5px 30px;
  font-family: "Conv_SukhumvitTadmai_Bol", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  background: #CF3339;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-flexi-start.only-desktop {
  margin-top: 30px;
}

.button-flexi-start.only-mobile {
  margin-top: 20px;
  font-size: 14px;
}

.page-flexi-header {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #ee445b url("../img/bg-flexi-jumbotron.jpg") no-repeat center;
  background-size: cover;
}

.page-flexi-header h2 {
  margin-top: 15px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: #ffffff;
  line-height: 1.4;
}

#page-flexi-content {
  position: relative;
}

#nav-flexi-scroll-trigger {
  padding-bottom: 150px;
}

#nav-flexi {
  position: absolute;
  /*margin-top: -150px;*/
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
#nav-flexi.only-desktop {
  display: flex;
}

#nav-flexi-navbar {
  display: flex;
  flex: 1;
}

#nav-flexi-navbar .navbar-nav {
  margin: auto;
  padding-left: 30px;
}

#nav-flexi-navbar .nav-item {
  border-right: 1px solid #E6E8EA;
}

#nav-flexi-navbar .nav-item:last-child {
  border-right: none;
}

#nav-flexi-navbar .nav-item .nav-link {
  padding: 16px 40px;
  color: #000000;
}

#nav-flexi-navbar .nav-item.active .nav-link {
  color: #cf3339;
}

.btn-flexi-share {
  width: 30px;
  height: 30px;
  background: #fff url("../img/ico-share.png") no-repeat center;
}
.btn-flexi-share.only-mobile {
  margin-top: 20px;
  width: 100%;
}

#nav-flexi .button-flexi-start {
  display: none;
  margin-left: 15px;
}

#nav-flexi.fixed {
  position: fixed;
  margin-top: 66px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}
#nav-flexi.fixed #nav-flexi-navbar .navbar-nav {
  margin-left: 0;
  padding: 0;
}
#nav-flexi.fixed .btn-flexi-share {
  margin-top: 5px;
}
#nav-flexi.fixed .button-flexi-start {
  display: block;
}

#nav-flexi-mobile .nav.full-size {
  margin-bottom: 20px;
}
#nav-flexi-mobile .nav.full-size li.nav-item {
  border-top: 1px solid #E6E8EA;
}
#nav-flexi-mobile .nav.full-size li.nav-item:last-child {
  border-bottom: 1px solid #E6E8EA;
}
#nav-flexi-mobile .nav.full-size li.nav-item.active a {
  color: #CF3339;
}
#nav-flexi-mobile .nav.full-size a {
  padding: 12px;
  color: #4c4c4c;
  text-align: center;
}
#nav-flexi-mobile .nav.mini {
  position: fixed;
  display: flex;
  top: 45px;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
#nav-flexi-mobile .nav.mini .nav-right {
  margin-left: auto;
}

#page-flexi-content section {
  padding: 60px 0;
  border-bottom: 1px solid #E6E8EA;
}
#page-flexi-content h4 {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}
#page-flexi-content h4::after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 50px;
  height: 2px;
  background-color: #CF3339;
}
#page-flexi-content img {
  max-width: 100%;
}

section#section-flexi-cards {
  padding: 0 0 50px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-flexi-cards > .row > *[class*="col"] {
  display: flex;
  flex-flow: column;
}
#section-flexi-cards > .row > *[class*="col"]:first-child {
  border-right: 1px solid #E6E8EA;
}

#section-flexi-cards .box-title {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 100px;
}

#section-flexi-cards h4 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 35px;
}
#section-flexi-cards h4::after {
  display: none;
}

#section-flexi-cards small {
  font-size: 0.8em;
}

#section-flexi-cards .sub-title {
  text-align: center;
  font-size: 24px;
  line-height: 1.8;
}

#section-flexi-cards figure.box-info {
  display: flex;
  margin-top: auto;
  height: 220px;
  text-align: center;
}
#section-flexi-cards figure.box-info > * {
  display: flex;
  flex: 1;
  flex-flow: column;
  /*padding: 10px 30px;*/
}
#section-flexi-cards figure.box-info > .left {
  border-right: 1px solid #E6E8EA;
}
#section-flexi-cards figure.box-info h5 {
  flex: 1;
  font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
#section-flexi-cards figure.box-info h5 > small {
  display: block;
  font-size: 0.71em;
}
#section-flexi-cards figure.box-info .text-number {
  font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
  font-size: 100px;
  color: #cf3339;
}
#section-flexi-cards figure.box-info .text-number > small {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
#section-flexi-cards figure.box-info .text-number.percent > small {
  font-size: 40px;
}
#section-flexi-cards figure.box-info .btn {
  margin-top: 10px;
}

#section-flexi-installments .tab-pane.fade {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#section-flexi-installments .tab-pane.fade.in {
  opacity: 1;
}

#nav-flexi-installments {
  margin-top: 50px;
  margin-bottom: 60px;
}
#nav-flexi-installments li.nav-item:first-child {
  border-right: 1px solid #E6E8EA;
}
#nav-flexi-installments li.nav-item a {
  padding: 15px 40px 9px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #8c949b;
  text-transform: uppercase;
}
#nav-flexi-installments li.nav-item a::after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 4px;
  background: transparent;
}
#nav-flexi-installments li.nav-item.active a {
  color: #000000;
}
#nav-flexi-installments li.nav-item.active a::after {
  background: #CF3339;
}

#content-flexi-installments {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 2.45;
}
#content-flexi-installments a {
  color: #CF3339;
}
#content-flexi-installments a.button-terms {
  margin-top: 30px;
  padding: 0;
}
#content-flexi-installments .right {
  padding: 20px 90px;
}

#section-flexi-shops {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 28px;
}
#section-flexi-shops h4 {
  margin-bottom: 60px;
}
#section-flexi-shops .row {
  background: #F6F6F6;
}
#section-flexi-shops div[class*="col"].box-center-v {
  align-self: center;
}
#section-flexi-shops p {
  line-height: 1.65;
}
#section-flexi-shops .button-contact-shop {
  margin-top: 60px;
  font-size: 20px;
}

#section-flexi-promotions .slide-wrap {
  overflow: visible;
}
#section-flexi-promotions .slide-flexi-promotions {
  overflow: hidden;
}
#section-flexi-promotions .slide-flexi-promotions .owl-stage {
  display: flex;
}
#section-flexi-promotions .slide-flexi-promotions .owl-item {
  display: flex;
}
#section-flexi-promotions .slide-flexi-promotions .owl-nav .owl-prev {
  position: absolute;
  top: 85px;
  left: -30px;
}
#section-flexi-promotions .slide-flexi-promotions .owl-nav .owl-next {
  position: absolute;
  top: 85px;
  right: -30px;
}
#section-flexi-promotions .slide-flexi-promotions .item {
  display: flex;
  padding: 0 5px;
  flex-flow: column;
}
#section-flexi-promotions .slide-flexi-promotions .item p {
  margin-bottom: 20px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
#section-flexi-promotions .slide-flexi-promotions .item .item-footer {
  margin-top: auto;
}
#section-flexi-promotions .slide-flexi-promotions .button-register {
  display: block;
  width: 108px;
  height: 30px;
  font-family: "Conv_SukhumvitTadmai_Bol", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #cf3339;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #cf3339;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#section-flexi-promotions a.button-see-all:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .page-flexi-header {
    padding: 8vw 30px;
    height: 40vw;
  }
  .page-flexi-header h2 {
    font-size: 28px;
    line-height: 1.4;
  }

  #page-flexi-content section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #page-flexi-content h4 {
    font-size: 20px;
  }

  #page-flexi-content .content-pre-nav {
    padding: 25px 0;
    text-align: center;
  }
  #page-flexi-content .content-pre-nav h3 {
    margin-bottom: 10px;
    font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
  #page-flexi-content .content-pre-nav h4 {
    font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }
  #page-flexi-content .content-pre-nav h4::after {
    display: none;
  }

  #nav-flexi-mobile .nav.mini.show {
    opacity: 1;
    pointer-events: all;
  }

  #nav-flexi-scroll-trigger {
    padding: 0;
  }

  #nav-flexi, #nav-flexi.only-desktop {
    display: none;
  }

  section#section-flexi-cards {
    padding: 30px 0;
  }
  section#section-flexi-cards > .row > *[class*="col"]:first-child {
    border: none;
  }
  section#section-flexi-cards > .row > *[class*="col"]:last-child {
    margin-top: 50px;
  }
  section#section-flexi-cards .box-title {
    margin-bottom: 30px;
  }
  section#section-flexi-cards h4 {
    font-size: 20px;
  }
  section#section-flexi-cards .sub-title {
    font-size: 14px;
  }
  section#section-flexi-cards figure.box-info {
    height: 135px;
  }
  section#section-flexi-cards figure.box-info h5 {
    font-size: 16px;
  }
  section#section-flexi-cards figure.box-info h5 > small {
    margin-top: 5px;
    font-size: 1em;
  }
  section#section-flexi-cards figure.box-info .text-number {
    font-size: 50px;
  }
  section#section-flexi-cards figure.box-info .text-number > small, section#section-flexi-cards figure.box-info .text-number.percent > small {
    font-size: 14px;
  }
  section#section-flexi-cards figure.box-info .btn {
    margin-top: 0;
    font-size: 14px;
  }

  section#section-flexi-installments .left {
    text-align: center;
  }
  section#section-flexi-installments .right {
    padding: 20px 5px;
  }

  #nav-flexi-installments {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  #nav-flexi-installments li.nav-item a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }

  #content-flexi-installments a.button-terms {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  section#section-flexi-shops p {
    font-size: 14px;
  }
  section#section-flexi-shops a.button-contact-shop {
    margin-top: 0;
    font-size: 14px;
  }
  section#section-flexi-shops .box-center-v {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .page-flexi-header {
    height: 50vw;
  }
  .page-flexi-header img {
    width: 75px;
  }
  .page-flexi-header h2 {
    margin-top: 5px;
    font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
    font-size: 4.5vw;
  }
}

/*# sourceMappingURL=flexi.css.map */
