/* Merchant Page - @korstudio */
.sub-sticky .dropdown {
  display: inline-block;
  margin-right: 20px;
}
.sub-sticky .dropdown .btn.focus, .sub-sticky .dropdown .btn:focus {
  box-shadow: none;
}
.sub-sticky .dropdown .dropdown-menu {
  display: block;
  padding: 0;
  min-width: 300px;
  top: 50px;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.sub-sticky .dropdown .dropdown-menu .dropdown-item {
  position: relative;
  padding: 15px 20px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.sub-sticky .dropdown .dropdown-menu .dropdown-item::after {
  content: '';
  position: absolute;
  display: block;
  margin-top: 10px;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px;
  background: #F5F6F6;
}
.sub-sticky .dropdown .dropdown-menu .dropdown-item:last-child::after {
  display: none;
}
.sub-sticky .dropdown.open .dropdown-menu {
  display: block;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.sub-sticky .dropdown.open .dropdown-toggle::after {
  transform: rotate(-180deg);
}
.sub-sticky .dropdown-toggle {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.sub-sticky .dropdown-toggle::after {
  content: "\f107";
  width: auto;
  height: auto;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  vertical-align: baseline;
}

article#page-merchant-content section {
  border-bottom: none;
}
article#page-merchant-content h4::after {
  background-color: #045AA7;
}

.btn.button-shop-register {
  padding: 5px 30px;
  font-family: "Conv_SukhumvitTadmai_Bol", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  background: #045AA7;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn.button-shop-register.nav-center-v {
  padding: 10px 15px;
  margin: 18px 0 18px 20px;
  display: inline-block;
  min-width: 0;
}

.page-merchant-header {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 500px;
  align-items: center;
  background: #ffffff url("../img/img-merchant-header.jpg") no-repeat center;
  background-size: cover;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.page-merchant-header h1 {
  font-size: 40px;
  line-height: 1.5;
}
.page-merchant-header h1 small {
  display: block;
  font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
.page-merchant-header .btn.button-shop-register {
  margin-top: 30px;
}

section#section-merchant-card-type .row:first-child {
  margin-bottom: 30px;
}
section#section-merchant-card-type .list-card-vendors {
  display: flex;
  margin: 30px auto;
  width: 45vw;
  justify-content: space-around;
  align-items: center;
}
section#section-merchant-card-type .list-card-vendors li {
  padding: 20px 0;
}
section#section-merchant-card-type .list-payment-services {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}
section#section-merchant-card-type .list-payment-services .item-payment-service {
  padding: 0 20px;
  width: 20%;
  text-align: center;
}
section#section-merchant-card-type .list-payment-services .item-payment-service h5 {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
section#section-merchant-card-type .list-payment-services .item-payment-service p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
}

section#section-merchant-options *[class*="col"] {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-right: 1px solid #E7E8EA;
}
section#section-merchant-options *[class*="col"]:last-child {
  border-right: none;
}
section#section-merchant-options p {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}
section#section-merchant-options p.small {
  font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
}
section#section-merchant-options .content-alipay {
  text-align: center;
  justify-content: center;
}
section#section-merchant-options .content-alipay p {
  font-size: 20px;
}
section#section-merchant-options .content-flexi > *:last-child {
  margin-bottom: 0;
}
section#section-merchant-options .content-flexi img {
  margin-bottom: 20px;
}
section#section-merchant-options .content-forever img {
  margin-bottom: 20px;
}
section#section-merchant-options .content-forever img.img-forever-1000 {
  margin-top: 30px;
}
section#section-merchant-options .content-forever p.small {
  margin-top: auto;
}

section#section-merchant-register-form .form-row {
  margin-top: 50px;
}
section#section-merchant-register-form .form-row .form-col.left {
  padding-right: 45px;
}
section#section-merchant-register-form .form-row .form-col.right {
  padding-left: 45px;
}
section#section-merchant-register-form .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
section#section-merchant-register-form input[type="text"].form-control {
  padding: 3px 0;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(90, 102, 112, 0.4);
  border-radius: 0;
}
section#section-merchant-register-form input[type="text"].form-control:focus {
  border-color: rgba(90, 102, 112, 0.4);
  box-shadow: none;
}
section#section-merchant-register-form .row-merchant-options h5 {
  margin-bottom: 15px;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}
section#section-merchant-register-form .row-merchant-options .custom-checkbox {
  margin-top: 30px;
  padding-left: 56px;
  height: 26px;
  /* bootstrap override */
}
section#section-merchant-register-form .row-merchant-options .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #045AA7;
  background-color: #045AA7;
}
section#section-merchant-register-form .row-merchant-options .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
section#section-merchant-register-form .row-merchant-options label.custom-control-label {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
section#section-merchant-register-form .row-merchant-options label.custom-control-label::before {
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #8B939A;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section#section-merchant-register-form .row-merchant-options label.custom-control-label::after {
  top: 0;
  width: 26px;
  height: 26px;
  background-size: 60%;
}
section#section-merchant-register-form #sending-form {
  background-color: #045AA7;
}
section#section-merchant-register-form .row-merchant-download-docs {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
section#section-merchant-register-form .row-merchant-download-docs .content-col {
  display: flex;
  align-items: center;
}
section#section-merchant-register-form .row-merchant-download-docs .btn.button-download-link {
  text-align: left;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #000000;
}

.contact-ribbon {
  padding: 17px 15px;
  background: #045AA7;
  text-align: center;
}
.contact-ribbon .text-contact {
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.contact-ribbon .text-contact em {
  display: inline-block;
  margin-right: 20px;
  font-size: 28px;
}
.contact-ribbon .text-contact em strong {
  font-family: "Conv_SukhumvitTadmai_Bol", Helvetica, Arial, sans-serif;
}
.contact-ribbon .text-contact img {
  display: inline-block;
  margin-left: 50px;
  margin-right: 5px;
  vertical-align: middle;
}

#faq ol {
  list-style: decimal;
  padding-left: 16px;
}

/* Merchant Page - tablet - @korstudio */
/* Merchant Page - mobile - @korstudio */
