/* Merchant Page - @korstudio */
.btn.button-shop-register {
  padding: 5px 30px;
  font-family: "Conv_SukhumvitTadmai_Bol", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  background: #045AA7;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.page-merchant-header {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 500px;
  align-items: center;
  background: #ffffff url("../img/img-merchant-header.jpg") no-repeat center;
  background-size: cover;
  font-family: "Conv_SukhumvitTadmai_Tex", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.page-merchant-header h1 {
  font-size: 40px;
  line-height: 1.5;
}
.page-merchant-header h1 small {
  display: block;
  font-family: "Conv_SukhumvitTadmai_Thi", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
.page-merchant-header .btn.button-shop-register {
  margin-top: 30px;
}
