@media (max-width: 375px) {
  .menu-global .on-right .card-register-btn{
    display: none;
  }
  .menu-global .on-right .login-btn{
    display: none;
  }
  .content-wrap {
    padding: 0 20px;
  }
  .open-on-top h4.title-mobile{
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    line-height: 36px;
  }
  .icon-wrap {
    padding: 120px 0 0 15px;
  }
  .icon-wrap p {
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 12px;
    line-height: 10px;
  }
  .open-on-top {
    padding: 66px 0 33px 0;
  }
  .big-link {
    padding-left: 14px;
    padding-bottom: 16px;
  }
  .big-link > div{
    height: 89px;
    padding-top: 6px;
  }
  .big-link img {
    margin-bottom: 0px;
  }
  .big-link span {
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 10px;
    text-transform: uppercase;
  }
  .menu-global .another-sub .content-wrap > * {
    flex: 0 100%;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile{
    display: block;
  }
  .another-sub img{
    height: 40px;
  }
  .another-sub span{
    display: none;
  }
  .another-sub a:after{
  	background: none;
  }
  .another-sub p{
    font-size: 12px;
    margin-top: -5px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    max-width: none;
    width: auto;
    display: block;
  }
  .menu-global{
  	/*background: url("../img/bg_menu.png");*/
  	background: url("../img/bg-header-mobile.jpg");
  }
  .menu-global{
    margin-bottom: 155px;
  }
  .index-head{
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 4px;
    border-bottom: 3px solid #CF3339;
  }
  .text-on-slide{
    margin-top: 11.8px;
    margin-bottom: 9px;
  }
  .text-on-slide p{
    font-size: 16px;
  }
  .text-on-slide a{
    font-size: 12px;
    padding: 2px;
  }
  .owl-item {
    opacity: 1;
  }
  .slide-wrap:before{
    display: none;
  }
  .slide-wrap:after{
    display: none;
  }
  .owl-nav button{
    display: none;
  }
  .big-left{
    padding-right: 15px
  }
  .big-right{
    margin-top: 10px;
    padding-left: 15px
  }
  .item .slide-title{
    font-size: 14px;
    padding-top: 10px;
  }
  .item .slide-content{
    font-size: 12px;
    padding-top: 0px;
    margin-bottom: 40px;
    line-height: 18px;
  }
  .footer ul a{
  	overflow: hidden;
  	height: 0;
  	margin-top: 0;
  	padding-left: 28px;
  }
  .footer ul{
  	padding-bottom: 0;
  }
  .footer .active + ul{
  	padding-bottom: 10px;
  }
  .footer .active + ul a{
  	height: 17px;
  	margin-top: 8px;
  }
  .footer .active + ul .two-line a{
  	height: 34px;
  }
  .footer h3{
  	font-size: 16px;
  	line-height: 25px;
  	padding: 10px 0 9px 0;
  	margin: 0;
    font-family: 'Conv_SukhumvitTadmai_Tex';
  }

  .footer-menu > div{
  	border-bottom: 1px solid rgba(83,83,83,.15);
  	padding: 0;
  	position: relative;
  }

  .footer-menu > div:after,
  .footer-menu h3:after{
  	content: "_";
  	position: absolute;
  	top: 3px;
  	font-family: 'Gotham-Bold';
  	right: 0;
  	font-size: 22px;
  }

  .footer-menu h3:after{
  	transform: rotate(90deg);
    top: 11px;
    right: -9px;
  }

  .footer-menu h3.active:after{
  	transform: rotate(0);
    top: 2px;
    right: 0;
  }

  .footer-menu{
    padding: 15px;
    width: 100%;
    max-width: none;
    display: block;
    margin: 0;
  }

  .tel{
  	display: block;
  	text-align: center;
  }
  .tel > p,
  .tel > span{
  	display: inline-block;
  	vertical-align: middle;
  	margin: 38px 7px;
  }

  .footer-menu + div{
  	padding-bottom: 100px;
  	position: relative;
  }
  .tel + .footer-badge{
  	position: absolute;
  	bottom: 0;
  	left: 50%;
  	transform: translateX(-50%);
  }

  .download-section{
  	text-align: center;
  }

  .download-section p{
    text-align: right;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 3px 0;
  }

  .footer-badge.tapktc{
  	vertical-align: middle;
  	display: inline-block;
  }

  .download-section .footer-badge {
    margin:8px;
    width: 116px;
  }
}
