@media (max-width: 375px) {
  .content-wrap {
    padding: 0 20px;
  }
  .open-on-top h4.title-mobile{
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    line-height: 36px;
  }
  .icon-wrap {
    padding: 30px 0 0 15px;
  }
  .icon-wrap p {
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 12px;
    line-height: 10px;
  }
  .open-on-top {
    padding: 66px 0 33px 0;
  }
  .big-link {
    padding-left: 14px;
    padding-bottom: 16px;
  }
  .big-link > div{
    height: 89px;
    padding-top: 6px;
  }
  .big-link img {
    margin-bottom: 0px;
  }
  .big-link span {
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 10px;
    text-transform: uppercase;
  }
  .menu-global .another-sub .content-wrap > * {
    flex: 0 100%;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile{
    display: block;
  }
  .another-sub img{
    height: 40px;
  }
  .another-sub span{
    display: none;
  }
  .another-sub a:after{
  	background: none;
  }
  .another-sub p{
    font-size: 12px;
    margin-top: -5px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    max-width: none;
    width: auto;
    display: block;
  }
  .menu-global{
    margin-bottom: 155px;
  }
  .index-head{
    font-size: 14px;
    margin-top: 40px;
  }
  .text-on-slide{
    margin-top: 11.8px;
    margin-bottom: 9px;
  }
  .text-on-slide p{
    font-size: 16px;
  }
  .text-on-slide a{
    font-size: 12px;
    padding: 0;
  }
  .owl-nav button{
    display: none;
  }
  .big-left{
    padding-right: 15px
  }
  .big-right{
    margin-top: 10px;
    padding-left: 15px
  }
  .item .slide-title{
    font-size: 14px;
    padding-top: 10px;
  }
  .item .slide-content{
    font-size: 12px;
    padding-top: 0px;
    margin-bottom: 40px;
    line-height: 18px;
  }
}
