@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/GothamRnd-Bold.eot');
	src: local('☺'), url('../fonts/GothamRnd-Bold.woff') format('woff'), url('../fonts/GothamRnd-Bold.ttf') format('truetype'), url('../fonts/GothamRnd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SukhumvitTadmai_Bol';
	src: url('../fonts/SukhumvitTadmai_Bol.eot');
	src: local('☺'), url('../fonts/SukhumvitTadmai_Bol.woff') format('woff'), url('../fonts/SukhumvitTadmai_Bol.ttf') format('truetype'), url('../fonts/SukhumvitTadmai_Bol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SukhumvitTadmai_Bol';
	src: url('../fonts/GothamRnd-Medium.eot');
	src: local('☺'), url('../fonts/GothamRnd-Medium.woff') format('woff'), url('../fonts/GothamRnd-Medium.ttf') format('truetype'), url('../fonts/GothamRnd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
	font-family: 'Conv_SukhumvitTadmai_Tex';
	src: url('../fonts/SukhumvitTadmai_Tex.eot');
	src: local('☺'), url('../fonts/SukhumvitTadmai_Tex.woff') format('woff'), url('../fonts/SukhumvitTadmai_Tex.ttf') format('truetype'), url('../fonts/SukhumvitTadmai_Tex.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SukhumvitTadmai_Tex';
	src: url('../fonts/GothamRnd-Book.eot');
	src: local('☺'), url('../fonts/GothamRnd-Book.woff') format('woff'), url('../fonts/GothamRnd-Book.ttf') format('truetype'), url('../fonts/GothamRnd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
	font-family: 'Conv_SukhumvitTadmai_Thi';
	src: url('../fonts/SukhumvitTadmai_Thi.eot');
	src: local('☺'), url('../fonts/SukhumvitTadmai_Thi.woff') format('woff'), url('../fonts/SukhumvitTadmai_Thi.ttf') format('truetype'), url('../fonts/SukhumvitTadmai_Thi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SukhumvitTadmai_Thi';
	src: url('../fonts/GothamRnd-Light.eot');
	src: local('☺'), url('../fonts/GothamRnd-Light.woff') format('woff'), url('../fonts/GothamRnd-Light.ttf') format('truetype'), url('../fonts/GothamRnd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Conv_SukhumvitTadmai_Thi';
	font-size: 16px;
	letter-spacing: 0.5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	cursor: pointer;
	text-decoration: none;
}

*, *:after, *:before{
	transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

/*Global Menu*/
.menu-global{
	width: 100%;
	background: url("../img/bg_menu.png");
	background-size: cover;
	color: #fff;
	font-size: 15px;
	margin-bottom: 153px;
}

.menu-global a{
	color: #fff;
}

.menu-global:after{
	content: "";
	clear: both;
	display: block;
}

#ktc-logo{
	float: left;
	width: 66px;
	height: 66px;
	display: inline-block;
}

#ktc-logo img{
	margin-top: 13px;
}

.menu-global .on-right{
	float: right;
	text-align: right;
	padding-top: 5px;
}

.menu-global .on-right > *{
	display: inline-block;
}

.scrolled-menu{
	text-align: center;
	opacity: 0;
	pointer-events: none;
}

.mini-header .scrolled-menu{
	opacity: 1;
	pointer-events: all;
}

.scrolled-menu > li{
	display: inline-block;
    position: relative;
    padding: 23px 16px 16px 16px;
    top: 3px;
}

.scrolled-menu > li:hover{
	color: #bf2a31;
}

.scrolled-menu > li:hover i{
	transform: rotate(-180deg);
}

.scrolled-menu ul{
	top: 100%;
	position: absolute;
	left: 0;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	color: #fff;
}

.scrolled-menu > li:hover > ul{
	opacity: 1;
	pointer-events: all;
}

.text-on-left{
	width: 100%;
	display: block;
	float: none;
	clear: both;
}

.content-wrap{
	padding: 0 80px;
	margin: 0 auto;
	width: 100%;
	max-width: 1366px;
}

.slide-wrap{
	overflow: hidden;
	position: relative;
}

.slide-wrap:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 40px;
	pointer-events: none;
	z-index: 3;
	background: linear-gradient(to right, rgba(255,255,255,255.1), rgba(255,255,255,0));
}

.slide-wrap:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	pointer-events: none;
	z-index: 3;
	background: linear-gradient(to left, rgba(255,255,255,255.1), rgba(255,255,255,0));
}

.menu-global > .content-wrap{
    padding: 0 30px;
    position: fixed;
    z-index: 4;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.menu-global > .content-wrap:before{
	background: #000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	content: "";
	position: absolute;
	display: block;
	z-index: -1;
}

.menu-global.mini-header > .content-wrap:before{
	opacity: 1;

}

.menu-global .search-on-menu{
	font-size: 18px;
    padding: 16px;
    position: relative;
    top: 2px;
}

.menu-global a.search-on-menu:hover{
	color: #bf2a31;
}

.card-register-btn{
	padding: 8px 26px;
	border-radius: 6px;
	font-size: 13px;
	background: #d0343a;
	font-family: 'Conv_SukhumvitTadmai_Tex';
}

.menu-global a.card-register-btn:hover{
	background: #bf2a31;
}

.login-btn{
	font-family: 'Conv_SukhumvitTadmai_Tex';
    font-size: 13px;
    letter-spacing: 1px;
    padding: 2px 15px 6px 12px;
    border: 1px #fff solid;
    border-radius: 6px;
    margin-left: 4px;

}

.login-btn i{
    font-size: 19px;
    margin: 0 1px;
    position: relative;
    top: 2px;
}

.menu-global a.login-btn:hover{
	background: #fff;
	color:#333;
}

.menu-global .content-wrap{
	display: flex;
}

.menu-global .content-wrap > *{
	flex: auto;
}

.open-on-top{
    padding: 66px 0 45px 0;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.open-on-top h4{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 28px;
	letter-spacing: 1.5px;
	margin-top: 110px;
	margin-bottom: 30px;
}

.open-on-top h4 span{
	font-size: 32px;
}

.open-on-top p{
	line-height: 21px;
	font-family: 'Conv_SukhumvitTadmai_Tex';
    max-width: 475px;
}

.big-link{
	text-align: center;
	padding: 0 0 26px 24px;
}

.big-link > div{
	background: #fff;
	border-radius: 13px;
	width: 100%;
	height: 153px;
	color: #333;
	padding: 13px 0 20px 0;
	-webkit-box-shadow: 0px 3px 17px 0px rgba(255,193,193,0.79);
	-moz-box-shadow: 0px 3px 17px 0px rgba(255,193,193,0.79);
	box-shadow: 0px 3px 17px 0px rgba(255,193,193,0.79);
	position: relative;
	top: 0;
}

.big-link:hover > div{
	top: -3px;
	-webkit-box-shadow: 0px 3px 47px 0px rgba(255,193,193,0.79);
	-moz-box-shadow: 0px 3px 47px 0px rgba(255,193,193,0.79);
	box-shadow: 0px 3px 47px 0px rgba(255,193,193,0.79);
}

.icon-wrap{
	padding: 30px 0 0 0 ;
}

.icon-wrap p{
	font-family: 'Conv_SukhumvitTadmai_Bol';
}

.big-link img{
	height: auto;
	width: 45%;
	margin-bottom: 10px;
}

.big-link span {
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 16px;
	text-transform: uppercase;
}

.another-sub{
	position: absolute;
	top: 100%;
	background: #f4f4f4;
	width: 100%;
	left: 0;
	font-family: 'Conv_SukhumvitTadmai_Bol';
	text-align: center;
	color: #333;
	padding: 15px 0 ;
}

.another-sub a{
	position: relative;
	padding-bottom: 20px;
	width: 20%;
}

.another-sub a:before{
	content: "";
	background: rgba(255, 255, 255, 0);
	border-radius: 8px;
	left: 40px;
	right: 40px;
	position: absolute;
	top: 30px;
	bottom: 30px;
	display: block;
	transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.another-sub a:hover:before{
	background: rgba(255, 255, 255, 1);
	left: 10px;
	right: 10px;
	top: 0;
	bottom: 0;
}

.another-sub a:after{
	content: "";
	width: 1px;
	height: 60px;
	background: rgba(91,102,112,.15);
	top: 20px;
	left: 0;
	position: absolute;
}

.another-sub a:nth-child(1):after{
	display: none;
}

.another-sub img{
	width: auto;
	height: 60px;
	position: relative;
	z-index: 1;
}

.another-sub p{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	position: relative;
	z-index: 1;
}

.another-sub span{
	margin-top: 5px;
	color: #757575;
	display: block;
	position: relative;
	z-index: 1;
}

.only-desktop{
	display: block;
}
.only-mobile{
	display: none;
}

.index-head{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 20px;
	color: #454545;
	border-bottom: 4px solid #CF3339;
	display: inline-block;
	margin-top: 70px;
}

.text-on-slide{
	margin: 25px 0;
}

.text-on-slide p{
	font-size: 35px;
	padding-left: 0;
}

.text-on-slide a{
	text-align: right;
	font-size: 18px;
	text-decoration: underline;
	color: #757575;
	padding-top: 13px;
	position: relative;
	padding-right: 0;
}

.text-on-slide a:after{
	width: 14px;
	height: 10px;
	display: inline-block;
	content: "";
	background: url("../img/ico-arrow-right.png");
	position: absolute;
	left: 100%;
	bottom: 8px;
	opacity: 0;
}

.text-on-slide a:hover:after{
	left: calc(100% + 6px);
	opacity: 1;
}

.owl-item{
	display: inline-block;
	opacity: 0.25;
}

.owl-item.active{
	opacity: 1;
}

.footer{
	background: #ededed;
}

.footer h3{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 16px;
	margin-bottom: 9px;
	line-height: 25px;
	padding-top: 39px;
}

.footer a{
	color: #000;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 17px;
	display: block;
	position: relative;
	left: 0;
	margin-top: 8px;
	opacity: 1;
	max-width: 185px;
}

.footer a:hover{
	left: 5px;
	opacity: 0.75;
}

.footer-menu{
	padding-left: 30px;
}

.footer-menu > .col-3{
	width: auto;
	margin-right: 70px;
	flex: none;
	padding: 0;
}

.footer-menu > .col-3:nth-last-child(1){
	margin-right: 0;
}

/* slide - eve */
.item img{
	width: 100%;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
}
.item .slide-title{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 20px;
	padding-top: 14px;
	line-height: 38px;
}
.item .slide-content{
	font-family: 'Conv_SukhumvitTadmai_Tex';
	font-size: 16px;
	line-height: 24px;
	padding-top: 10px;
	margin-bottom: 60px;
}
.owl-nav button{
	background: none;
	border: none;
	cursor: pointer;
}
.owl-dots{
	display: none;
}
.index-slide1, .index-slide2{
	position: relative;
}
.owl-prev span{
	width: 81px;
	height: 81px;
	background: url(../img/ico-left.png);
	background-size: 100% 100%;
	display: block;
	font-size: 0;
}
.owl-next span{
	width: 81px;
	height: 81px;
	background: url(../img/ico-right.png);
	background-size: 100% 100%;
	display: block;
	font-size: 0;
}
.index-slide1 .owl-nav button.owl-prev{
	position: absolute;
	top: 50%;
	left: -48px;
	transform: translateY(-50%);
	opacity: 1;
}

.index-slide2 .owl-nav button.owl-prev{
	position: absolute;
	top: 8vw;
	left: -48px;
	transform: translateY(-50%);
	opacity: 1;
}


.index-slide1 .owl-nav button.owl-next{
	position: absolute;
	top: 50%;
	right: -48px;
	transform: translateY(-50%);
  	opacity: 1;
}

.index-slide2 .owl-nav button.owl-next{
	position: absolute;
	top: 8vw;
	right: -48px;
	transform: translateY(-50%);
  	opacity: 1;
}

.index-slide1 .owl-nav button.disabled,
.index-slide2 .owl-nav button.disabled{
	opacity: 0;
	pointer-events: none;
}

.index-slide1 .item,
.index-slide2 .item {
    position: relative;
    display: block;
}

.index-slide1 .item:after,
.index-slide2 .item:after{
	font-family:'FontAwesome';
	content: "\f061";
	color: #fff;
	font-size: 54px;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s ease-out;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    z-index: 2;
}

.index-slide2 .item:after{
	top: 8vw;
}

.index-slide1 .item:hover:after,
.index-slide2 .item:hover:after{
	opacity: 0.6;
	font-size: 60px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.image-link a{
	border-radius: 6px;
	display: block;
	width: 100%;
	overflow: hidden;
}
.image-link img{
	width: 100% ;
	height: auto;
	opacity: 1;
	display: block;
	margin-bottom: -1px;
}

.image-link a:hover img {
    opacity: 0.5;
    width: calc(100% + 20px);
    margin: -4px -10px;
}

.big-left{
	padding-right: 13px;
}

.big-right{
	padding-left: 13px;
}

.image-link{
	margin-bottom: 105px;
}

.tel p{
	font-family: 'Gotham-Bold';
	line-height: 15px;
	font-size: 18px;
	margin:45px 0 12px 0;
}

.tel span{
	font-family: 'Gotham-Bold';
	line-height: 29px;
	font-size: 24px;
	padding-left: 24px;
	background: url(../img/ico-footer-tel.png) no-repeat;
	background-position: left center;
	white-space: nowrap;
}

.footer-badge{
	height: auto;
	width: 135px;
	margin: 16px 0 25px 0;
}

.download-section p{
	font-family: 'Conv_SukhumvitTadmai_Bol';
	font-size: 16px;
	line-height: 25px;
}

.download-section .footer-badge{
	margin: 2px 0;
	width: 100px;
}

.footer-badge.tapktc{
	margin-bottom: 3px;
	width: 136px;
}

.download-section img{
	position: relative;
	opacity: 1;
	top: 0;
}

.download-section img:hover{
	cursor: pointer;
	opacity: 0.6;
	top: -2px;
}

@media (min-width: 1366px) {
	.menu-global .content-wrap{
		padding-left: calc(50vw - 653px);
		padding-right: calc(50vw - 653px);
		max-width: none;
	}
	.index-slide2 .owl-nav button.owl-next,
	.index-slide2 .owl-nav button.owl-prev,
	.index-slide2 .item:after{
		top:109px;
	}

	.slide-wrap{
		max-width: none;
		padding-left: calc(50vw - 603px);
		padding-right: calc(50vw - 603px);
	}
}
