@media (max-width: 768px) {
  .index-slide2 .owl-nav button.owl-prev{
    top: 11vw;
  }
  .index-slide2 .owl-nav button.owl-next {
    top: 11vw;
  }
  .open-on-top h4{
    margin-top: 30px;
  }
  .icon-wrap p {
    line-height: 18px;
  }
  .big-link img {
    margin-bottom: 0px;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile{
    display: block;
  }
  .menu-global .another-sub .content-wrap > * {
    flex: 0 100%;
  }
  .menu-global {
    margin-bottom: 215px;
  }
  .another-sub span{
    display: none;
  }
  .another-sub a:after{
  	background: none;
  }
  .text-on-slide p {
    font-size: 28px;
  }
  .text-on-slide a{
    padding-top: 8px;
  }
  .item .slide-title{
    padding-top: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .item .slide-content{
    padding-top: 6px;
    font-size: 14px;
    line-height: 18px;
  }
}
